*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Oswald', sans-serif;
    background-color: black;
}

.navigationBar{
    background-color: darkslateblue;
    padding: 10px;
    color: antiquewhite;
}

.container{
    padding: 10px;
}

.bookContainer{
    padding: 10px;
    width:30%;
    background-color:gainsboro;
    color:darkslateblue;
    border-radius: 10px;
    margin: 30px;
    display: inline-block;
    vertical-align: top;
}

.bookContainer h2 {
    color: black;
}

.bookContainer h3 {
    color: black;
}

.bookContainer button{
    background-color: darkslateblue;
    color:gainsboro;

    border-radius: 5px;
    border: none;

    position:sticky;
    left: 75%;


    font-size: 20px;

    padding: 5px;
    
    margin-top: 10px;
    margin-right: 20px;
}

.addButton{
    font-size: 70px;

    position:fixed;
    bottom: 20px;
    right:10px;

    border:none;
    border-radius: 15px;

    color: gainsboro;
    background-color: darkslateblue;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.popupOverlay{
    background-color:black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.8;
    z-index: 1;
    display:none;

}

.popupBox{
    background-color: darkslateblue;
    padding: 20px;
    border:none;
    border-radius: 10px;
    left:30%;
    top: 20%;
    width: 40%;
    z-index: 2;
    position: absolute;
    display: none;
}

.popupBox input{
    background: transparent;
    font-size: 20px;
    border: none;
    border-bottom: solid black 2px;
    width: 100%;
    padding: 5px;
    margin: 5px;
    color: gainsboro;
}

.popupBox textarea{
    background: transparent;
    border:solid black 2px;
    padding: 5px;
    margin: 5px;
    width: 100%;
    font-size: 20px;
    color: gainsboro;
}

.popupBox input::placeholder{
    color:gainsboro;
}

.popupBox textarea::placeholder{
    color:gainsboro;
}

.popupBox input:focus{
    outline: none;
}

.popupBox textarea:focus{
    outline: none;
}
.popupBox button{
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    background-color: gainsboro;
    color: black;
    border-radius: 10px;
    border: none;
}